{% include 'header.html' %}

<!-- Header Section -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/hero.jpg') }}'); height: 500px">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading text-center">
                    <h1>Cafe Explorer</h1>
                    <span class="subheading">Find the best cafés around you</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="album py-5 bg-body-tertiary"></div>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% for cafe in cafe_data %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ cafe['img_url'] }}" width="100%" height="225" alt=""/>
                    <div class="card-body">
                        <p class="card-text">
                            <small class="text-body-secondary">Location: {{ cafe["location"] }}</small><br>
                            <strong>{{ cafe["name"] }}</strong>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button
                                        type="button"
                                        class="btn btn-sm btn-outline-secondary"
                                >
                                    View
                                </button>
                                <button
                                        type="button"
                                        class="btn btn-sm btn-outline-secondary"
                                >
                                    Edit
                                </button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>
</div>

{% include 'footer.html' %}
